spring:
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: ${PORT:8080}

oauth:
  kakao:
    enabled: ${KAKAO_OAUTH_ENABLED:false}
    client-id: ${KAKAO_CLIENT_ID:}
    client-secret: ${KAKAO_CLIENT_SECRET:}
    redirect-uri: ${KAKAO_REDIRECT_URI:}
  toss:
    enabled: ${TOSS_OAUTH_ENABLED:true}

toss:
  disconnect:
    basic-auth: ${TOSS_DISCONNECT_BASIC_AUTH:}
  mtls:
    cert: ${TOSS_MTLS_CERT:}
    key: ${TOSS_MTLS_KEY:}
